* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}
header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 550px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px 20px;
  transition: 0.5s ease;
}
a{
  position: relative;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header> .nav>a:before{
  content: '';
  position: absolute;
  background: #F48FB1;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header> .nav>a:hover:before{
  width: 100%;
}

.section-item {
  width: 100vw;
  height: 45vh;
  position: relative;
  display: flex;
  overflow: hidden;
}
.section-item__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center 0;
  transform: translate3d(0, 0, 0);
  will-change: background-position;
}

.section-item__block::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  transition: background-color 0.3s ease;
}

.section-item:hover .section-item__block::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.section-item__text {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Long Cang', cursive;
  color: #F1F1F1;
}

.section-item__text .text-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.section-item:nth-child(1n) .section-item__block {
  background-image: url('前端/背景/3.jpg');
}

.section-item:nth-child(2n) .section-item__block {
  background-image: url('前端/背景/1.jpg');
}

.section-item:nth-child(3n) .section-item__block {
  background-image: url('前端/背景/2.jpg');
}

.section-item:nth-child(4n) .section-item__block {
  background-image: url('前端/背景/4.jpg');
}

.section-item:nth-child(5n) .section-item__block {
  background-image: url('前端/背景/5.jpg');
}

.section-item:nth-child(6n) .section-item__block {
  background-image: url('前端/背景/6.jpg');
}
